{% extends "base.html" %}

{% block content %}
{% if task_cannot_be_changed %}
    <div class="alert alert-danger" role="alert">Изменить задание не возможно.<br>Изменить Публичное задание может только автор</div>
    {% endif %}
<h1>Добавление задания</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", value=value_name)}}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.task.label }}<br>
        <textarea name="task" class="form-control">{{ value_task }}</textarea><br>
        {% for error in form.task.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.answer.label }}<br>
        <textarea name="answer" class="form-control">{{ value_answer }}</textarea><br>
        {% for error in form.answer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.coins.label }}<br>
        {{ form.coins(class="form-control", value=value_coins) }}<br>
        {% for error in form.coins.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if value_is_private %}
    <style>
    input:checked
    </style>
    {% endif %}
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        {% if server_id != None %}
        <a class="btn btn-secondary" href="/server_menejment/{{server_id}}" role="button">управления сервером</a>
        {% else %}
        <a class="btn btn-secondary" href="/" role="button">главная страница</a>
        {% endif %}
    </p>
    {{message}}
</form>
{% endblock %}