{% extends "base.html" %}

{% block content %}
<a  class="btn btn-info" href="/add_tasks">добавить задание</a>
<h1>Публичные задания</h1>
{% for item in tasks %}
<p>{{item}}
    <div class="dropdown">
            {% for server in servers %}
                <a  class="btn btn-info" href="/add_task_to_server/{{item['id']}}/{{server['server_id']}}">добавить на сервер</a>
            {% endfor %}
            {% if current_user.id == item['creator'] %}
                <a href="/edit_tasks/{{item['id']}}/{{servers['server_id']}}" class="btn btn-secondary">изменить задание</a>
                <a href="/delete_tasks/{{item['id']}}/{{servers['server_id']}}" class="btn btn-danger">удалить задание</a>
            {% endif %}
    </div>
</p>
{% endfor %}
{% endblock %}