{% extends "base.html" %}

{% block content %}
<h1>Управление сервером {{server_name}}</h1>

<div>
<h1>участники сервера</h1>
{% for item in users %}
                <div>{{item}}</div>
            {% endfor %}
<h1>задания сервера</h1>
{% for item in tasks %}
                <div>{{item}}
                <a href="/edit_tasks/{{item['id']}}/{{server_id}}" class="btn btn-secondary">изменить задание</a>
                </div>
                <br>
            {% endfor %}
    <a href="/add_tasks/{{server_id}}" class="btn btn-secondary">Добавить задание</a>
</div>
{% endblock %}